.cart-items{
    height:100vh ;
    
   position: fixed;
     right: -100%;
     top: 0;
    
     opacity:0;
     transition: right 0.8s ease;
    
   }
   .cart_i{
    opacity: 1;
     position: fixed;
    right: 0;
    
   }

   .blackbox{
    opacity: 0;
     z-index: 1;
     position: fixed;
     left: -200%;
     top: 0;
     transition: left 0.8s ease;
     
   }
   .blackbox-in{
   opacity: 0.5;
     position: fixed;
     left: 0;
     transition:  0.8s ease;
   }

